body {
  padding-top: 50px;
  background-color: #000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-right {
	margin-right: 10px;
}

.timer-picker {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 300px;
}

.timer-picker .selected {
	color: #adafae;
	line-height: 40px;
	padding-left: 15px;
	cursor: pointer;
}

.timer-picker .refresh {
	margin-left: 10px;
	color: #a47e3c;
}

.timer-picker .dropdown {
	position: absolute;
	list-style: none;
	z-index: 1000;
	background-color: #303030;
	border-radius: 6px;
	padding-left: 0;
	color: #bbbfc2;
	width: 150px;
	display: none;
}

.timer-picker .dropdown li {
	line-height: 30px;
	padding-left: 15px;
	cursor: pointer;
}

.timer-picker .dropdown li:hover {
	background-color: #33b5e5;
	color: #fff;
}

#metricsTooltip {
	position: absolute;
	height: 25px;
	border-radius: 6px;
	color: #bbbfc2;
	background-color: #303030;
	display: none;
}

#metricsTooltip span {
	margin: 10px;
}

#subtitle .line {
	float: left;
	border-top-width: 2px;
	border-top-style: solid;
	width: 20px;
	margin-top: 10px;
	margin-right: 2px;
	margin-left: 10px;
}
#subtitle span {
	float: left;
	margin-left: 2px;
	cursor: pointer;
}