body {
  padding-top: 50px;
  background-color: #000;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  background-color: red;
}

#metricsCanvas {
	
}

.navbar-right {
	margin-right: 120px;
}

.timer-picker {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 150px;
}

.timer-picker .selected {
	color: #adafae;
	line-height: 40px;
	padding-left: 15px;
	cursor: pointer;
}

.timer-picker .dropdown {
	position: absolute;
	list-style: none;
	z-index: 1000;
	background-color: #303030;
	border-radius: 6px;
	padding-left: 0;
	color: #bbbfc2;
	width: 150px;
	display: none;
}

.timer-picker .dropdown li {
	line-height: 30px;
	padding-left: 15px;
	cursor: pointer;
}

.timer-picker .dropdown li:hover {
	background-color: #33b5e5;
	color: #fff;
}